
{% extends 'main.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header_head %}Создать задачу для Ильи{% endblock %}

{% block header_text %}Хочешь меня поправить? Сделай для меня задачу, напиши что изучить!{% endblock %}

{% block task %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.title }} <br />
        {{ form.task }} <br />
        <button name="button_task" class="btn btn-primary mb-2">Отправить</button>
    </form>
    <span>{{ error }}</span>
{% endblock %}