{% extends 'blog.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header_head %}Это блог{% endblock %}

{% block header_text %}Текст. Тут должен быть текст. Но так как я не придумал какой, то тут должен быть текст{% endblock %}

{% if art %}
    {% block article %}

        <div class="alert alert-warning mt-2"><h3>{{ art.title }}</h3>
            <img src="/{{ art.image }}" alt="">
       <p> {{ art.text_article }}</p>
       <br /> <i>{{ art.pub_date }} </i>
        </div>

        {% endblock %}
            {% block comment %}
            {% if last_comment %}
                {% for com in last_comment %}
                    <div class="col-sm-6 col-lg-4 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Автор: {{ com.author }}</h5>
                          <p class="card-text">{{ com.comment }} </p>
                          <p class="card-text"><small class="text-muted">{{ com.comment_pub_date }}</small></p>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% else %}
                Комментариев нет, будьте первым!
            {% endif %}
                {% if user.username %}
                    <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary mb-3">Оставить комментарий</button>
                        </div>
                    </form>
                {% endif %}
        {% endblock %}
{% else %}
    <p>Нет статей</p>


{% endif %}